{% extends 'base.html.twig' %}
{% block header %}
    <!-- ********************Navbar!!!*************** -->
    {% for club in clubs %}
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="{{ path('club_index') }}"><img id="logo" src="{{ asset('bundles/club/img/club_opinion_sans_fond.png') }}" alt="Logo" /></a>
                        </div>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <br>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('club_edit', { 'id': 1 }) }}">{{ club.soustitre11|raw }}</a></li>
                                    <li><a href="{{ path('presentation_edit', { 'id': 1 }) }}">{{ club.soustitre12|raw }}</a></li>
                                    <li><a href="{{ path('pagemembre_edit', { 'id': 1 }) }}">{{ club.soustitre13|raw }}</a></li>
                                    <li><a href="{{ path('rcvl_edit', { 'id': 1 }) }}">{{ club.soustitre14|raw }}</a></li>
                                    <li><a href="{{ path('ara_edit', { 'id': 1 }) }}">{{ club.soustitre15|raw }}</a></li>
                                    <li><a href="{{ path('club_sup_edit', { 'id': 1 }) }}">{{ club.soustitre16|raw }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cutlery" aria-hidden="true"></i> Nos évènements <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('evrcvl_edit', { 'id': 1 }) }}">{{ club.soustitre21|raw }}</a></li>
                                    <li><a href="{{ path('evara_edit', { 'id': 1 }) }}">{{ club.soustitre22|raw }}</a></li>
                                    <li><a href="{{ path('evsup_edit', { 'id': 1 }) }}">{{ club.soustitre23|raw }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-trophy" aria-hidden="true"></i> Avantages du club <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('av1_edit', { 'id': 1 }) }}">{{ club.soustitre31|raw }}</a></li>
                                    <li><a href="{{ path('av2_edit', { 'id': 1 }) }}">{{ club.soustitre32|raw }}</a></li>
                                    <li><a href="{{ path('av3_edit', { 'id': 1 }) }}">{{ club.soustitre33|raw }}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('contact_edit', { 'id': 1 }) }}"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
    {% endfor %}
    <!-- ********************Fin Navbar************** -->
{% endblock %}

{% block body %}
    <h1>Modifier un évènement</h1>

    {{ form_start(edit_form) }}
    <span class="bold">Titre</span><br>
    {{ form_errors(edit_form.title) }}
    {{ form_widget(edit_form.title) }}
    <br><br>
    <span class="bold">Description</span><br>
    {{ form_errors(edit_form.paragraph) }}
    {{ form_widget(edit_form.paragraph) }}
    <br><br>
    <div class="col-xs-12">
        <div class="col-xxs-12 col-xs-4">
            <img src="{{ vich_uploader_asset(supEvenement, 'image', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image) }}
            {{ form_widget(edit_form.image) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image2', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image2) }}
            {{ form_widget(edit_form.image2) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image3', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image3) }}
            {{ form_widget(edit_form.image3) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image4', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image4) }}
            {{ form_widget(edit_form.image4) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image5', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image5) }}
            {{ form_widget(edit_form.image5) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image6', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image6) }}
            {{ form_widget(edit_form.image6) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image7', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image7) }}
            {{ form_widget(edit_form.image7) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image8', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image8) }}
            {{ form_widget(edit_form.image8) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image9', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image9) }}
            {{ form_widget(edit_form.image9) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image10', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image10) }}
            {{ form_widget(edit_form.image10) }}
            <br><br>
        </div>
        <div class="col-xxs-12 col-xs-4">
            <img src="{{ vich_uploader_asset(supEvenement, 'image11', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image11) }}
            {{ form_widget(edit_form.image11) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image12', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image12) }}
            {{ form_widget(edit_form.image12) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image13', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image13) }}
            {{ form_widget(edit_form.image13) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image14', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image14) }}
            {{ form_widget(edit_form.image14) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image15', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image15) }}
            {{ form_widget(edit_form.image15) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image16', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image16) }}
            {{ form_widget(edit_form.image16) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image17', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image17) }}
            {{ form_widget(edit_form.image17) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image18', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image18) }}
            {{ form_widget(edit_form.image18) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image19', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image19) }}
            {{ form_widget(edit_form.image19) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image20', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image20) }}
            {{ form_widget(edit_form.image20) }}
            <br><br>
        </div>
        <div class="col-xxs-12 col-xs-4">
            <img src="{{ vich_uploader_asset(supEvenement, 'image21', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image21) }}
            {{ form_widget(edit_form.image21) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image22', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image22) }}
            {{ form_widget(edit_form.image22) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image23', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image23) }}
            {{ form_widget(edit_form.image23) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image24', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image24) }}
            {{ form_widget(edit_form.image24) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image25', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image25) }}
            {{ form_widget(edit_form.image25) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image26', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image26) }}
            {{ form_widget(edit_form.image26) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image27', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image27) }}
            {{ form_widget(edit_form.image27) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image28', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image28) }}
            {{ form_widget(edit_form.image28) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image29', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image29) }}
            {{ form_widget(edit_form.image29) }}
            <br><br>
            <img src="{{ vich_uploader_asset(supEvenement, 'image30', 'ClubBundle\\Entity\\SupEvenements') }}" width="100%">
            {{ form_errors(edit_form.image30) }}
            {{ form_widget(edit_form.image30) }}
            <br><br>
        </div>
    </div>
    <br><br>
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
    <br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
    <br>
    <a href="{{ path('evsup_edit', { 'id': 1 }) }}" class="lienRouge">Retour à la page précédente</a>
    <br>
{% endblock %}
