{% extends 'base.html.twig' %}

{% block header %}
<!-- ********************Navbar!!!*************** -->
            {% for club in clubs %}
                <header>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <div class="navbar-brand">
                                    <a href="{{ path('club_index') }}"><img id="logo" src="{{ asset('bundles/club/img/club_opinion_sans_fond.png') }}" alt="Logo" /></a>
                                </div>
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <br>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('club_edit', { 'id': 1 }) }}">{{ club.soustitre11|raw }}</a></li>
                                            <li><a href="{{ path('presentation_edit', { 'id': 1 }) }}">{{ club.soustitre12|raw }}</a></li>
                                            <li><a href="{{ path('pagemembre_edit', { 'id': 1 }) }}">{{ club.soustitre13|raw }}</a></li>
                                            <li><a href="{{ path('rcvl_edit', { 'id': 1 }) }}">{{ club.soustitre14|raw }}</a></li>
                                            <li><a href="{{ path('ara_edit', { 'id': 1 }) }}">{{ club.soustitre15|raw }}</a></li>
                                            <li><a href="{{ path('club_sup_edit', { 'id': 1 }) }}">{{ club.soustitre16|raw }}</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cutlery" aria-hidden="true"></i> Nos évènements <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('evrcvl_edit', { 'id': 1 }) }}">{{ club.soustitre21|raw }}</a></li>
                                            <li><a href="{{ path('evara_edit', { 'id': 1 }) }}">{{ club.soustitre22|raw }}</a></li>
                                            <li><a href="{{ path('evsup_edit', { 'id': 1 }) }}">{{ club.soustitre23|raw }}</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-trophy" aria-hidden="true"></i> Avantages du club <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('av1_edit', { 'id': 1 }) }}">{{ club.soustitre31|raw }}</a></li>
                                            <li><a href="{{ path('av2_edit', { 'id': 1 }) }}">{{ club.soustitre32|raw }}</a></li>
                                            <li><a href="{{ path('av3_edit', { 'id': 1 }) }}">{{ club.soustitre33|raw }}</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ path('contact_edit', { 'id': 1 }) }}"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </header>
            {% endfor %}
            <!-- ********************Fin Navbar************** -->
        {% endblock %}

{% block main %}
<main class="container-fluid" id="container-club">
    <div class="row">
        <div class="col-xs-12">
{% endblock %}

{% block body %}
    <h1>Mode édition</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <h2>édition barre de navigation</h2>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xxs-12 col-xs-4">
                <h3>Menu Accueil</h3>

                <p>Sous-titre 1</p>
                {{ form_errors(edit_form.soustitre11 ) }}
                {{ form_widget(edit_form.soustitre11 ) }}

                <p>Sous-titre 2</p>
                {{ form_errors(edit_form.soustitre12 ) }}
                {{ form_widget(edit_form.soustitre12 ) }}

                <p>Sous-titre 3</p>
                {{ form_errors(edit_form.soustitre13 ) }}
                {{ form_widget(edit_form.soustitre13 ) }}

                <p>Sous-titre 4</p>
                {{ form_errors(edit_form.soustitre14 ) }}
                {{ form_widget(edit_form.soustitre14 ) }}

                <p>Sous-titre 5</p>
                {{ form_errors(edit_form.soustitre15 ) }}
                {{ form_widget(edit_form.soustitre15 ) }}

                <p>Sous-titre 6</p>
                {{ form_errors(edit_form.soustitre16 ) }}
                {{ form_widget(edit_form.soustitre16 ) }}

            </div>
            <div class="col-xxs-12 col-xs-4">
                <h3>Menu nos evenements</h3>

                <p>Sous-titre 1</p>
                {{ form_errors(edit_form.soustitre21 ) }}
                {{ form_widget(edit_form.soustitre21 ) }}

                <p>Sous-titre 2</p>
                {{ form_errors(edit_form.soustitre22 ) }}
                {{ form_widget(edit_form.soustitre22 ) }}

                <p>Sous-titre 3</p>
                {{ form_errors(edit_form.soustitre23 ) }}
                {{ form_widget(edit_form.soustitre23 ) }}

            </div>
            <div class="col-xxs-12 col-xs-4">
                <h3>Menu avantages du club</h3>

                <p>Sous-titre 1</p>
                {{ form_errors(edit_form.soustitre31 ) }}
                {{ form_widget(edit_form.soustitre31 ) }}

                <p>Sous-titre 2</p>
                {{ form_errors(edit_form.soustitre32 ) }}
                {{ form_widget(edit_form.soustitre32 ) }}

                <p>Sous-titre 3</p>
                {{ form_errors(edit_form.soustitre33 ) }}
                {{ form_widget(edit_form.soustitre33 ) }}

            </div>
        </div>
        <br>
        <input type="submit" value="Modifier" />
        <br><br>
        <h2>édition page d'accueil</h2>
        {{ form_errors(edit_form.video ) }}
        {{ form_widget(edit_form.video, { label: false }) }}
        <br><br>
    </div>

<!-- *********************************************** -->

    <div class="container-fluid">
        <div class="row blockGray" id="blockhp"><!--******************* 1er bloc ***************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ vich_uploader_asset(club, 'image', 'ClubBundle\\Entity\\Club') }}" width="100%"/>
                {{ form_errors(edit_form.image ) }}
                {{ form_widget(edit_form.image, { label: false } ) }}
                <br>
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2>{{ club.blocktitle1 }}</h2>
                <span class="bold">Titre du bloc</span>
                {{ form_errors(edit_form.blocktitle1 ) }}
                {{ form_widget(edit_form.blocktitle1 ) }}
                <input type="submit" value="Modifier" />
                <br><br>
                <p> {{ club.blockparagraph1|raw }}</p>
                <br>
                <span class="bold">Paragraphe</span>
                {{ form_errors(edit_form.blockparagraph1) }}
                {{ form_widget(edit_form.blockparagraph1) }}
                <input type="submit" value="Modifier" />
            </div>
        </div>
        <div class="row"><!--**************** 2ème bloc *****************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2> {{ club.blocktitle2 }} </h2>
                <span class="bold">Titre du bloc</span>
                {{ form_errors(edit_form.blocktitle2) }}
                {{ form_widget(edit_form.blocktitle2) }}
                <input type="submit" value="Modifier" />
                <br><br>
                <p>{{ club.blockparagraph2|raw }}</p>
                <br>
                <span class="bold">Paragraphe</span>
                {{ form_errors(edit_form.blockparagraph2) }}
                {{ form_widget(edit_form.blockparagraph2) }}
                <input type="submit" value="Modifier" />
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ vich_uploader_asset(club, 'image2', 'ClubBundle\\Entity\\Club') }}" width="100%"/>
                {{ form_errors(edit_form.image2 ) }}
                {{ form_widget(edit_form.image2, { label: false } ) }}
                <br>
            </div>
        </div>
        <div class="row blockGray"><!--************* 3ème bloc ***************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ vich_uploader_asset(club, 'image3', 'ClubBundle\\Entity\\Club') }}" width="100%"/>
                {{ form_errors(edit_form.image3 ) }}
                {{ form_widget(edit_form.image3, { label: false } ) }}
                <br>
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2>{{ club.blocktitle3 }}</h2 >
                <span class="bold">Titre du bloc</span>
                {{ form_errors(edit_form.blocktitle3) }}
                {{ form_widget(edit_form.blocktitle3) }}
                <input type="submit" value="Modifier" />
                <br><br>
                <p>{{ club.blockparagraph3|raw }}</p>
                <br>
                <span class="bold">Paragraphe</span>
                {{ form_errors(edit_form.blockparagraph3) }}
                {{ form_widget(edit_form.blockparagraph3) }}
                <input type="submit" value="Modifier" />
            </div>
        </div>
        <div class="row"><!--************* 4ème bloc ***************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2>{{ club.blocktitle4 }}</h2 >
                <span class="bold">Titre du bloc</span>
                {{ form_errors(edit_form.blocktitle4) }}
                {{ form_widget(edit_form.blocktitle4) }}
                <input type="submit" value="Modifier" />
                <br><br>
                <p>{{ club.blockparagraph4|raw }}</p>
                <br>
                <span class="bold">Paragraphe</span>
                {{ form_errors(edit_form.blockparagraph4) }}
                {{ form_widget(edit_form.blockparagraph4) }}
                <input type="submit" value="Modifier" />
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ vich_uploader_asset(club, 'image4', 'ClubBundle\\Entity\\Club') }}" width="100%"/>
                {{ form_errors(edit_form.image4 ) }}
                {{ form_widget(edit_form.image4, { label: false } ) }}
                <br>
            </div>
        </div>
    {{ form_end(edit_form) }}
    </div>
        <!-- *********************************************** -->
            <br><br>
        {% if club_sups is not empty and evSups is not empty and av3s is not empty %}
        {% else %}
        <h2>création pages supplémentaires</h2>
        <div class="container-fluid">
            <div class="row ">
            {% endif %}
                <!-- *****************   CLUB SUP ******************* -->
                {% if club_sups is not empty %}
                {% else %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail" id="thumbnail-membre">
                            <div class="caption">
                                <h3>Page Club Supplémentaire</h3>
                                {{ form_start(newForm) }}
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ form_errors(newForm.image) }}
                                        {{ form_widget(newForm.image) }}
                                    </div>
                                </div>
                                <br>
                                <span class="bold">Titre</span><br>
                                {{ form_errors(newForm.title) }}
                                {{ form_widget(newForm.title) }}
                                <br>
                                 <span class="bold">Sous-titre</span><br>
                                {{ form_errors(newForm.soutitre) }}
                                {{ form_widget(newForm.soutitre) }}
                                <br>
                                <span class="bold">Paragraphe</span><br>
                                {{ form_errors(newForm.paragraph) }}
                                {{ form_widget(newForm.paragraph) }}
                                <br><br>
                                <input type="submit" value="Créer" />
                                {{ form_end(newForm) }}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- *****************   EV SUP ******************* -->
                {% if evSups is not empty %}
                {% else %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail" id="thumbnail-membre">
                        <div class="caption">
                            <h3>Page évènement supplémentaire</h3>
                            {{ form_start(newForm3) }}
                            <span class="bold">Titre</span><br>
                            {{ form_errors(newForm3.title) }}
                            {{ form_widget(newForm3.title) }}
                            <br><br>
                            <input type="submit" value="Créer" />
                            {{ form_end(newForm3) }}
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- *****************   AV3 ******************* -->
                {% if av3s is not empty %}
                {% else %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail" id="thumbnail-membre">
                        <div class="caption">
                            <h3>Page Avantage Supplémentaire</h3>
                            {{ form_start(newForm2) }}
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form_errors(newForm2.image) }}
                                    {{ form_widget(newForm2.image) }}
                                </div>
                            </div>
                            <br>
                            <span class="bold">Titre</span><br>
                            {{ form_errors(newForm2.titleAv3) }}
                            {{ form_widget(newForm2.titleAv3) }}
                            <br>
                            <span class="bold">Paragraphe</span><br>
                            {{ form_errors(newForm2.paragraphAv3) }}
                            {{ form_widget(newForm2.paragraphAv3) }}
                            <br><br>
                            <input type="submit" value="Créer" />
                            {{ form_end(newForm2) }}
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>


{% endblock %}