{% extends 'base.html.twig' %}

{% block body %}



    {% for club_sup in club_sups %}

    <h1>{{ club_sup.title }}</h1>

        <div class="container-fluid">
            <div class="row blockGray homepageBlock"><!--******************* 1er bloc ***************-->
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <img src="{{ vich_uploader_asset(club_sup, 'image', 'ClubBundle\\Entity\\club_sup') }}" alt="{{ club_sup.title }}" class="center-block" width="100%"/>
                </div>
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <h2>{{ club_sup.soutitre }}</h2>

                    <p>{{ club_sup.paragraph }}</p>

                </div>
            </div>
        </div>


        {% endfor %}
{% endblock %}
