{% extends 'base.html.twig' %}
{% block header %}
    <!-- ********************Navbar!!!*************** -->
    {% for club in clubs %}
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <div class="navbar-brand">
                            <a href="{{ path('club_index') }}"><img id="logo" src="{{ asset('bundles/club/img/club_opinion_sans_fond.png') }}" alt="Logo" /></a>
                        </div>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <br>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('club_edit', { 'id': 1 }) }}">{{ club.soustitre11|raw }}</a></li>
                                    <li><a href="{{ path('presentation_edit', { 'id': 1 }) }}">{{ club.soustitre12|raw }}</a></li>
                                    <li><a href="{{ path('pagemembre_edit', { 'id': 1 }) }}">{{ club.soustitre13|raw }}</a></li>
                                    <li><a href="{{ path('rcvl_edit', { 'id': 1 }) }}">{{ club.soustitre14|raw }}</a></li>
                                    <li><a href="{{ path('ara_edit', { 'id': 1 }) }}">{{ club.soustitre15|raw }}</a></li>
                                    <li><a href="{{ path('club_sup_edit', { 'id': 1 }) }}">{{ club.soustitre16|raw }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cutlery" aria-hidden="true"></i> Nos évènements <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('evrcvl_edit', { 'id': 1 }) }}">{{ club.soustitre21|raw }}</a></li>
                                    <li><a href="{{ path('evara_edit', { 'id': 1 }) }}">{{ club.soustitre22|raw }}</a></li>
                                    <li><a href="{{ path('evsup_edit', { 'id': 1 }) }}">{{ club.soustitre23|raw }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-trophy" aria-hidden="true"></i> Avantages du club <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('av1_edit', { 'id': 1 }) }}">{{ club.soustitre31|raw }}</a></li>
                                    <li><a href="{{ path('av2_edit', { 'id': 1 }) }}">{{ club.soustitre32|raw }}</a></li>
                                    <li><a href="{{ path('av3_edit', { 'id': 1 }) }}">{{ club.soustitre33|raw }}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('contact_edit', { 'id': 1 }) }}"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
    {% endfor %}
    <!-- ********************Fin Navbar************** -->
{% endblock %}


{% block body %}
    <h1>mode édition</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <h1>{{av3.titleAv3 }}</h1>
    <span class="bold">Titre</span>
    {{ form_errors(edit_form.titleAv3) }}
    {{ form_widget(edit_form.titleAv3) }}
    <input type="submit" value="Modifier" />
    <br><br>
    <div class="container-fluid">
        <div class="row blockGray">
            <div class="row"><!--**************** 2ème bloc *****************-->
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <p>{{ av3.paragraphAv3|raw  }}</p>
                    <br>
                    <span class="bold">Paragraphe</span>
                    {{ form_errors(edit_form.paragraphAv3) }}
                    {{ form_widget(edit_form.paragraphAv3) }}
                    <input type="submit" value="Modifier" />
                </div>
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <img src="{{ vich_uploader_asset(av3, 'image', 'ClubBundle\\Entity\\av3') }}" alt="{{ av3.titleAv3 }}" class="center-block" width="100%"/>
                    {{ form_errors(edit_form.image) }}
                    {{ form_widget(edit_form.image, {label: false} ) }}
                    <br><br>
                </div>
            </div>
        </div>
    </div>


 {{ form_end(edit_form) }}
{% endblock %}